body{background-color: #efefef;}
.boton{//bot贸n en reposo
    width: 200px;
    height: 150px;
    background-color: aqua;
    transition: all .5s ease-in-out;
    &__texto{//texto en reposo
        font-size: 50px;
        color: black;
        transition: all .5s ease-in-out;
    }
    &:hover{//comando de acci贸n bot贸n
        width: 250px;
        height: 200px;
        background-color: blueviolet; 
        box-shadow: 2px 2px 6px 8px rgba(0, 0, 0, 0.2);
        :first-child{//comando de acci贸n texto
            font-size: 60px;
            color: white;}
    }
}


