.boton{//botón en reposo
    width: 200px;
    height: 150px;
    background-color: aqua;
    transition: all .5s ease-in-out;
    &__texto{//texto en reposo
        font-size: 50px;
        color: black;
        transition: all .5s ease-in-out;
    }
    &:hover, &__texto:hover{//comando de boton
        width: 250px;
        height: 200px;
        background-color: blueviolet;
        font-size: 60px;
        color: white;}
}


