body{
    background-color: #efefef;
    transition: all .5s ease-in-out;
}
.boton{//botón en reposo
    border-radius: 20px;
    width: 200px;
    height: 150px;
    background-color: aqua;
    transition: all .5s ease-in-out;
    &__texto{//texto en reposo
        font-size: 50px;
        color: black;
        transition: all .5s ease-in-out;
    }
    &:hover{//comando de acción botón
        width: 250px;
        height: 200px;
        background-color: blueviolet; 
        box-shadow: 2px 2px 6px 8px rgba(0, 0, 0, 0.2);
        :first-child{//comando de acción texto
            font-size: 60px;
            color: white;}
    }
    
    &:focus{
        width: 300px;
        height: 250px;
        background-color: greenyellow;
        box-shadow: 2px 2px 6px 8px rgba(255, 255, 255, 0.335);
        :first-child{
            font-size: 70px;
            color: black;}
        body{/* no activa cuando focus en el botón */
            background-color: black;
        }
        }
}


